extends jade-parts/docwrapper
    
append sitecontent
    .error-page-area.jarallax(data-jarallax='{"speed": 0.3, "imgSrc": "images/error-bg.jpg" }')
        .container
            .row
                .col-md-12
                    .error-page-content.text-center
                        h3.error-title
                            |page not found
                        h2.error-404
                            |<span>404</span>Component not found
                        a.btn.btn-details.link-home(href="index.html")
                            |Go To Home
                    <!--/.error-page-content-->
                <!--/.col-md-12-->
            <!--/.row-->
        <!--/.container-->
    <!--/.error-page-area-->