extends jade-parts/docwrapper

append pagetitle
    |events list
    
append pagename
    |event
    
append sitewellcome
    //- Included Page heading And Page Nav
    include jade-parts/page-heading-and-nav.jade
    
append sitecontent
    //- Included Events Content
    include jade-parts/events-content.jade