extends jade-parts/docwrapper

append sitewellcome
    //- Included Home One Welcome
    include jade-parts/home02-welcome.jade

append sitecontent
    //- Included Online Book Content Two
    include jade-parts/online-book-content-two.jade

    include jade-parts/best-place-content-two.jade

    //- Included Home Page Main Content
    include jade-parts/home-page-main-content.jade