extends jade-parts/docwrapper

append sitewellcome
    //- Included Home One Welcome
    include jade-parts/home01-welcome.jade

append sitecontent
    //- Included Online Book Content One
    include jade-parts/online-book-content-one.jade
    
    //- Included Bast Place Content One
    include jade-parts/best-place-content-one.jade
    
    //- Included Home Page Main Content
    include jade-parts/home-page-main-content.jade    