section.best-place-section.best-place-style-one
    .container-fluid
        .container-large-screen
            .row
                .col-md-6.col-full-width.wow.fadeInUp(data-wow-duration="1s" data-wow-delay=".15s")
                    .section-title-area.text-center.section-title-style-two
                        .section-title-style-inner
                            h3.section-name
                                |about us
                            h2.section-title
                                |A best place to enjoy your life
                            p.section-title-dec
                                |About our Hotel, Get the best Hotel in the City
                        <!--/.section-title-style-inner-->
                    <!--/.section-title-area-->
                <!--/.col-md-6-->
            <!--/.row-->
        
            .row.mobile-extend.wow.fadeInUp(data-wow-duration="1s" data-wow-delay=".15s")
                //single-best-place
                .col-md-3.col-sm-6.col-xs-6
                    .single-best-place
                        .best-place-thumb
                            img.box-radius(src="images/place/img-1.jpg" alt="img")
                        <!--/.best-place-thumb-->
                        .place-overlay
                            .place-overlay-outer
                                a(href="#")
                                    |Awesome Wedding Events arrangement
                            <!--/.place-overlay-outer-->
                        <!--/.place-overlay-->
                    <!--/.single-best-place-->
                <!--/.col-md-3-->
                
                //single-best-place
                .col-md-3.col-sm-6.col-xs-6
                    .single-best-place
                        .best-place-thumb
                            img.box-radius(src="images/place/img-2.jpg" alt="img")
                        <!--/.best-place-thumb-->
                        .place-overlay
                            .place-overlay-outer
                                a(href="#")
                                    |Awesome Wedding Events arrangement
                            <!--/.place-overlay-outer-->
                        <!--/.place-overlay-->
                    <!--/.single-best-place-->
                <!--/.col-md-3-->
                
                //single-best-place
                .col-md-3.col-sm-6.col-xs-6
                    .single-best-place
                        .best-place-thumb
                            img.box-radius(src="images/place/img-3.jpg" alt="img")
                        <!--/.best-place-thumb-->
                        .place-overlay
                            .place-overlay-outer
                                a(href="#")
                                    |Awesome Wedding Events arrangement
                            <!--/.place-overlay-outer-->
                        <!--/.place-overlay-->
                    <!--/.single-best-place-->
                <!--/.col-md-3-->
                
                //single-best-place
                .col-md-3.col-sm-6.col-xs-6
                    .single-best-place
                        .best-place-thumb
                            img.box-radius(src="images/place/img-4.jpg" alt="img")
                        <!--/.best-place-thumb-->
                        .place-overlay
                            .place-overlay-outer
                                a(href="#")
                                    |Awesome Wedding Events arrangement
                            <!--/.place-overlay-outer-->
                        <!--/.place-overlay-->
                    <!--/.single-best-place-->
                <!--/.col-md-3-->            
                
                .clearfix.hidden-xs
                
                //single-best-place
                .col-md-3.col-sm-6.col-xs-6
                    .single-best-place
                        .best-place-thumb
                            img.box-radius(src="images/place/img-5.jpg" alt="img")
                        <!--/.best-place-thumb-->
                        .place-overlay
                            .place-overlay-outer
                                a(href="#")
                                    |Awesome Wedding Events arrangement
                            <!--/.place-overlay-outer-->
                        <!--/.place-overlay-->
                    <!--/.single-best-place-->
                <!--/.col-md-3-->
                
                //single-best-place
                .col-md-3.col-sm-6.col-xs-6
                    .single-best-place
                        .best-place-thumb
                            img.box-radius(src="images/place/img-6.jpg" alt="img")
                        <!--/.best-place-thumb-->
                        .place-overlay
                            .place-overlay-outer
                                a(href="#")
                                    |Awesome Wedding Events arrangement
                            <!--/.place-overlay-outer-->
                        <!--/.place-overlay-->
                    <!--/.single-best-place-->
                <!--/.col-md-3-->
                
                //single-best-place
                .col-md-3.col-sm-6.col-xs-6
                    .single-best-place
                        .best-place-thumb
                            img.box-radius(src="images/place/img-7.jpg" alt="img")
                        <!--/.best-place-thumb-->
                        .place-overlay
                            .place-overlay-outer
                                a(href="#")
                                    |Awesome Wedding Events arrangement
                            <!--/.place-overlay-outer-->
                        <!--/.place-overlay-->
                    <!--/.single-best-place-->
                <!--/.col-md-3-->
                
                //single-best-place
                .col-md-3.col-sm-6.col-xs-6
                    .single-best-place
                        .best-place-thumb
                            img.box-radius(src="images/place/img-8.jpg" alt="img")
                        <!--/.best-place-thumb-->
                        .place-overlay
                            .place-overlay-outer
                                a(href="#")
                                    |Awesome Wedding Events arrangement
                            <!--/.place-overlay-outer-->
                        <!--/.place-overlay-->
                    <!--/.single-best-place-->
                <!--/.col-md-3--> 
            <!--/.row-->
            .row.hidden-md.hidden-lg.text-center.extend-btn
                span.extend-icon
                    i.fa.fa-angle-down
            .row
                .col-md-12.text-center.wow.fadeInUp(data-wow-duration="1s" data-wow-delay=".15s")
                    a.btn.btn-default(href="#")
                        span
                            | See more
                <!--/.col-md-12-->
            <!--/.row-->
        <!--/.container-large-screen-->
    <!--/.container-fluid-->
<!--/.best-place-section-->