section.best-place-section.best-place-style-two
    .container
        .row
            .col-md-6.title
                .section-align-title-area
                    .section-title-style-inner
                        h3.section-name
                            |about us
                        h2.section-align-title
                            |A best place to enjoy your life
                        p.section-title-dec
                            | Amorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae nibh nisl. Cras etitikis mauris eget lorem ultricies ferme ntum a inti diam. Morbi mollis pellen tesque offs aiug ueia nec rhoncus. Nam ute ultricies.
                        a.btn.btn-default(href="#")
                            | About more
                    <!--/.section-title-style-inner-->
                <!--/.section-title-area-->
            <!--/.col-md-6-->
            .col-md-6.gallery
                .row
                    //single-best-place
                    .col-md-6.col-sm-6.col-xs-6
                        .single-best-place
                            .best-place-thumb
                                img.box-radius(src="images/place/img-1.jpg" alt="img")
                            <!--/.best-place-thumb-->
                            .place-overlay
                                .place-overlay-outer
                                    a(href="#")
                                        |Awesome Wedding Events arrangement
                                <!--/.place-overlay-outer-->
                            <!--/.place-overlay-->
                        <!--/.single-best-place-->
                    <!--/.col-md-3-->
                    
                    //single-best-place
                    .col-md-6.col-sm-6.col-xs-6
                        .single-best-place
                            .best-place-thumb
                                img.box-radius(src="images/place/img-2.jpg" alt="img")
                            <!--/.best-place-thumb-->
                            .place-overlay
                                .place-overlay-outer
                                    a(href="#")
                                        |Awesome Wedding Events arrangement
                                <!--/.place-overlay-outer-->
                            <!--/.place-overlay-->
                        <!--/.single-best-place-->
                    <!--/.col-md-3-->

                    .clearfix.hidden-xs
                    
                    //single-best-place
                    .col-md-6.col-sm-6.col-xs-6
                        .single-best-place
                            .best-place-thumb
                                img.box-radius(src="images/place/img-3.jpg" alt="img")
                            <!--/.best-place-thumb-->
                            .place-overlay
                                .place-overlay-outer
                                    a(href="#")
                                        |Awesome Wedding Events arrangement
                                <!--/.place-overlay-outer-->
                            <!--/.place-overlay-->
                        <!--/.single-best-place-->
                    <!--/.col-md-3-->
                    
                    //single-best-place
                    .col-md-6.col-sm-6.col-xs-6
                        .single-best-place
                            .best-place-thumb
                                img.box-radius(src="images/place/img-4.jpg" alt="img")
                            <!--/.best-place-thumb-->
                            .place-overlay
                                .place-overlay-outer
                                    a(href="#")
                                        |Awesome Wedding Events arrangement
                                <!--/.place-overlay-outer-->
                            <!--/.place-overlay-->
                        <!--/.single-best-place-->
                    <!--/.col-md-3-->            
                <!--/.row-->
        <!--/.row-->
    <!--/.container-->
<!--/.best-place-section-->