.blog-page-area
    .container
        .row
            .col-md-12
                .blog-tab-menu
                    //Nav tabs
                    ul(class="nav nav-tabs" role="tablist")
                        li.active
                            a(href="#grid-recent" role="tab" data-toggle="tab")
                                |recent / new
                        li
                            a(href="#grid-popular" role="tab" data-toggle="tab")
                                |popular
                        li
                            a(href="#grid-trending" role="tab" data-toggle="tab")
                                |trending
                <!--/.blog-tab-menu-->
            <!--/.col-md-12-->
        <!--/.row-->
        .row
            .col-md-12
                .tab-content
                    //Tab panes
                    .tab-pane.active(role="tabpanel" id="grid-recent")
                        .row
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center                            
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-1.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4-->
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center 
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-2.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->                                      
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 

                            .clearfix.hidden-md.hidden-lg
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-3.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 
                            
                            .clearfix.hidden-xs.hidden-sm
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-2.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4-->

                            .clearfix.hidden-md.hidden-lg
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center 
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-1.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->                                      
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-3.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 
                            
                            .clearfix.hidden-xs.hidden-sm
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-3.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4-->
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center 
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-2.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->                                      
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 
                            
                            .clearfix.hidden-md.hidden-lg

                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-1.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 
                        <!--/.row--> 
                        
                        .row
                            .col-md-12
                                //Paginations
                                nav.paginations
                                    .post-pagination.paging-navigation
                                        ul.nav-links
                                            li.nav-previous
                                                //disabled add when no pagination
                                                a(href="#") <i class="fa fa-angle-left"></i>
                                            li: a(href="#") 01
                                            li.active: a(href="#") 02
                                            li: a(href="#") 03
                                            li: a(href="#") 04
                                            li: a(href="#") 05
                                            li: a(href="#") 102
                                            li.nav-next
                                                a(href="#") <i class="fa fa-angle-right"></i>
                                    <!--/.post-pagination-->
                                <!--/.pagination-->
                            <!--/.col-md-12-->
                        <!--/.row-->
                    <!--/.tab-pane-->
                    
                    //Tab panes
                    .tab-pane(role="tabpanel" id="grid-popular")
                        .row
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-3.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4-->
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center 
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-2.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->                                      
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 

                            .clearfix.hidden-md.hidden-lg
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-1.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 
                            
                            .clearfix.hidden-xs.hidden-sm
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-2.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4-->
                            
                            .clearfix.hidden-md.hidden-lg

                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center 
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-1.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->                                      
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-3.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 
                            
                            .clearfix.hidden-xs.hidden-sm
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-3.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4-->
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center 
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-2.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->                                      
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 

                            .clearfix.hidden-md.hidden-lg
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-1.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 
                        <!--/.row-->
                        .row
                            .col-md-12
                                //Paginations
                                nav.paginations
                                    .post-pagination.paging-navigation
                                        ul.nav-links
                                            li.nav-previous
                                                //disabled add when no pagination
                                                a(href="#") <i class="fa fa-angle-left"></i>
                                            li: a(href="#") 01
                                            li.active: a(href="#") 02
                                            li: a(href="#") 03
                                            li: a(href="#") 04
                                            li: a(href="#") 05
                                            li: a(href="#") 102
                                            li.nav-next
                                                a(href="#") <i class="fa fa-angle-right"></i>
                                    <!--/.post-pagination-->
                                <!--/.pagination-->
                            <!--/.col-md-12-->
                        <!--/.row-->
                    <!--/.tab-pane-->
                        
                    //Tab panes
                    .tab-pane(role="tabpanel" id="grid-trending")
                        .row
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-2.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4-->
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center 
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-1.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->                                      
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 

                            .clearfix.hidden-md.hidden-lg
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-3.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 
                            
                            .clearfix.hidden-xs.hidden-sm
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-2.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4-->

                            .clearfix.hidden-md.hidden-lg
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center 
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-1.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->                                      
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center                                 
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-3.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 
                            
                            .clearfix.hidden-xs.hidden-sm
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center                            
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-3.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4-->
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center 
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-2.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->                                      
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 

                            .clearfix.hidden-md.hidden-lg
                            
                            .col-md-4.col-sm-6.col-xs-6
                                // Single post
                                .post.hentry.box-radius.text-center                                 
                                    .entry-header
                                        figure.post-thumb
                                            a(href="single-post.html")
                                                img(src="images/post/thumb-1.jpg" alt="thumb")
                                        <!--/.post-thumb-->
                                        .entry-meta
                                            span.entry-date
                                                |july 25, 2016  
                                            span.entry-cat
                                                a(href="#")
                                                    |Rooms &amp; suites
                                        <!--/.entry-meta-->
                                    <!--/.entry-header-->
                                    h2.entry-title
                                        a(href="single-post.html")
                                            | Finding best places to visit in California.
                                    <!--/.entry-title-->
                                    .entry-footer
                                        .entry-footer-meta.entry-meta
                                            span.entry-see
                                                i.fa.fa-eye
                                                a(href="#")
                                                    |35
                                            span.entry-link
                                                i.fa.fa-heart-o
                                                a(href="#")
                                                    |09
                                            span.entry-comment
                                                i.fa.fa-comments-o
                                                a(href="#")
                                                    |05
                                        <!--/.entry-footer-meta-->
                                    <!--/.entry-footer-->
                                <!--/.post-->
                            <!--/.col-md-4--> 
                            .row
                                .col-md-12
                                    //Paginations
                                    nav.paginations
                                        .post-pagination.paging-navigation
                                            ul.nav-links
                                                li.nav-previous
                                                    //disabled add when no pagination
                                                    a(href="#") <i class="fa fa-angle-left"></i>
                                                li: a(href="#") 01
                                                li.active: a(href="#") 02
                                                li: a(href="#") 03
                                                li: a(href="#") 04
                                                li: a(href="#") 05
                                                li: a(href="#") 102
                                                li.nav-next
                                                    a(href="#") <i class="fa fa-angle-right"></i>
                                        <!--/.post-pagination-->
                                    <!--/.pagination-->
                                <!--/.col-md-12-->
                            <!--/.row-->
                        <!--/.row--> 
                    <!--/.tab-pane-->