.page-gallery-area
    .page-gallery-carousel.owl-carousel
        .item
            img(src="images/gallery/dining/1.jpg" alt="img")
        <!--/.item-->
        .item
            img(src="images/gallery/dining/2.jpg" alt="img")
        <!--/.item-->
        .item
            img(src="images/gallery/dining/3.jpg" alt="img")
        <!--/.item-->
        .item
            img(src="images/gallery/dining/4.jpg" alt="img")
        <!--/.item-->
        .item
            img(src="images/gallery/dining/3.jpg" alt="img")
        <!--/.item-->
    <!--/.page-gallery-carousel-->
<!--/.page-gallery-area-->

.dining-menu-page
    .container
        .row
            .col-md-9.col-full-width
                .menu-items-group
                    .row
                        .col-md-12
                            .section-title-area.text-center
                                h2.section-title
                                    |Our Breakfast Menu
                                p.section-title-dec
                                    |This Menu Active - 08:00am to 11:30am
                            <!--/.section-title-area-->
                        <!--/.col-md-12-->
                    <!--/.row-->
                    .row
                        .col-md-12
                            .menu-item-list
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-1.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-2.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-3.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-4.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-5.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-6.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                            <!--/.menu-item-list-->
                        <!--/.col-md-12-->
                    <!--/.row-->
                <!--/.menu-items-group-->
                .menu-items-group
                    .row
                        .col-md-12
                            .section-title-area.text-center
                                h2.section-title
                                    |Our Lunch Menu
                                p.section-title-dec
                                    |This Menu Active - 12:00am to 04:30am
                            <!--/.section-title-area-->
                        <!--/.col-md-12-->
                    <!--/.row-->
                    .row
                        .col-md-12
                            .menu-item-list
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-7.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-8.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-9.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-10.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-11.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-12.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                            <!--/.menu-item-list-->
                        <!--/.col-md-12-->
                    <!--/.row-->
                <!--/.menu-items-group-->
                .menu-items-group
                    .row
                        .col-md-12
                            .section-title-area.text-center
                                h2.section-title
                                    |Our Dinner Menu
                                p.section-title-dec
                                    |This Menu Active - 08:00am to 12:30am
                            <!--/.section-title-area-->
                        <!--/.col-md-12-->
                    <!--/.row-->
                    .row
                        .col-md-12
                            .menu-item-list
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-13.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-14.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-15.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-16.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-17.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-18.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                            <!--/.menu-item-list-->
                        <!--/.col-md-12-->
                    <!--/.row-->
                <!--/.menu-items-group-->
                .menu-items-group
                    .row
                        .col-md-12
                            .section-title-area.text-center
                                h2.section-title
                                    |Our Fast Food
                                p.section-title-dec
                                    |This Menu Active anytime
                            <!--/.section-title-area-->
                        <!--/.col-md-12-->
                    <!--/.row-->
                    .row
                        .col-md-12
                            .menu-item-list
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-1.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-2.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-3.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-4.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-5.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 Peo
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                                .item
                                    figure.item-thumb
                                        img.img-responsive(src="images/menu/item-6.jpg" alt="img")
                                    <!--/.item-thumb-->
                                    .item-title-area
                                        h2.item-title
                                            |Set Menu
                                        ul.menu-item-meta
                                            li 
                                                |Egg
                                            li
                                                |Apple
                                            li
                                                |Butter
                                            li
                                                |Faw Ruti
                                            li
                                                |Coffee
                                        <!--/.menu-item-meta-->
                                    <!--/.item-title-area-->
                                    .peo-number
                                        span
                                            |For 2 People
                                    <!--/.peo-number-->
                                    .price
                                        .price-inner
                                            |$10
                                    <!--/.price-->
                                <!--/.item-->
                            <!--/.menu-item-list-->
                        <!--/.col-md-12-->
                    <!--/.row-->
                <!--/.menu-items-group-->
            <!--/.col-md-10-->
        <!--/.row-->
    <!--/.contaienr-->
<!--/.dining-menu-page-->