.event-list-area
    .container
        .row.single-event.list
            .col-md-7.col-md-push-5
                figure.event-thumb
                    img(src="images/event/img-1.jpg" alt="img")
            <!--/.col-md-7-->
            .col-md-5.col-md-pull-7
                .event-info
                    .event-header
                        .time-from
                            h3.date
                                |<span>25</span> January
                            h4.day
                                |Wednesday
                        <!--/.time-from-->
                        .time-start
                            h3
                                |time
                            h4.time
                                |09am - 5pm
                        <!--/.time-start-->
                    <!--/.event-header-->
                    h2.event-title
                        |softHopper Company’s session
                    <!--/.event-title-->
                    .event-content
                        p
                            |Sed pellentesque pulvinar arcu ac congue. Sed sed est nec justo maximus blandit. Curabitur lacinia, eros sit amet maximus suscipit, magna sapien venenatis eros, et gravida urna massa ut lectus. Quisque lacinia lacinia viverra. Nullam nec est et lorem sodales ornare a in sapien. In et urna maximus, consectetur ligula in, gravida erat. Nullam dignissim hendrerit auctor. Sed varius, dolor vitae iaculis condimentum, massa nisl cursus sapien, gravida ultrices nisi dolor non erat.
                    <!--/.event-content-->
                    .event-cost
                        h3
                            |Cost
                        span.price
                            |25$
                    <!--/.event-cost-->
                <!--/.event-info-->
            <!--/.col-md-5-->
        <!--/.single-event-->
        
        .row.single-event.list
            .col-md-7.col-md-push-5
                figure.event-thumb
                    img(src="images/event/img-2.jpg" alt="img")
            <!--/.col-md-7-->
            .col-md-5.col-md-pull-7
                .event-info
                    .event-header
                        .time-from
                            h3.date
                                |<span>25</span> January
                            h4.day
                                |Wednesday
                        <!--/.time-from-->
                        .time-start
                            h3
                                |time
                            h4.time
                                |09am - 5pm
                        <!--/.time-start-->
                    <!--/.event-header-->
                    h2.event-title
                        |softHopper Company’s session
                    <!--/.event-title-->
                    .event-content
                        p
                            |Sed pellentesque pulvinar arcu ac congue. Sed sed est nec justo maximus blandit. Curabitur lacinia, eros sit amet maximus suscipit, magna sapien venenatis eros, et gravida urna massa ut lectus. Quisque lacinia lacinia viverra. Nullam nec est et lorem sodales ornare a in sapien. In et urna maximus, consectetur ligula in, gravida erat. Nullam dignissim hendrerit auctor. Sed varius, dolor vitae iaculis condimentum, massa nisl cursus sapien, gravida ultrices nisi dolor non erat.
                    <!--/.event-content-->
                    .event-cost
                        h3
                            |Cost
                        span.price
                            |25$
                    <!--/.event-cost-->
                <!--/.event-info-->
            <!--/.col-md-5-->
        <!--/.single-event-->
    <!--/.container-->
<!--/.event-list-area-->