.events-page-area
    .container
        .row
            .col-md-6.col-full-width
                .monthly-events-scdeule
                    h2.event-month-name.text-center
                        span
                            |January 2017
                    <!--/.event-month-name-->
                    .events-list
                        .single-event
                            .row
                                .col-md-5.col-sm-5.col-xs-5
                                    .time-from
                                        h3.date
                                            |<span>25</span> January 
                                        h4.day
                                            |Wednesday
                                    <!--/.time-from-->
                                <!--/.col-md-5-->
                                .col-md-7.col-sm-7.col-xs-7
                                    .event-info
                                        h2.event-title
                                            |softHopper Company’s session
                                        a.btn.btn-details(href="event-list.html")
                                            |view detail
                                    <!--/.event-info-->
                                <!--/.col-md-7-->
                            <!--/.row-->
                        <!--/.single-event-->

                        .single-event
                            .row
                                .col-md-5.col-sm-5.col-xs-5
                                    .time-from
                                        h3.date
                                            |<span>31</span> January 
                                        h4.day
                                            |Tuesday
                                    <!--/.time-from-->
                                <!--/.col-md-5-->
                                .col-md-7.col-sm-7.col-xs-7
                                    .event-info
                                        h2.event-title
                                            |Pixelll Manager;s Session
                                        a.btn.btn-details(href="event-list.html")
                                            |view detail
                                    <!--/.event-info-->
                                <!--/.col-md-7-->
                            <!--/.row-->
                        <!--/.single-event-->
                    <!--/.events-list-->
                <!--/.monthly-events-scdeule-->
            <!--/.col-md-6-->
            
            .col-md-6.col-full-width
                .monthly-events-scdeule
                    h2.event-month-name.text-center
                        span
                            |February 2017
                    <!--/.event-month-name-->
                    .events-list
                        .single-event
                            .row
                                .col-md-5.col-sm-5.col-xs-5
                                    .time-from
                                        h3.date
                                            |<span>01</span> February 
                                        h4.day
                                            |Wednesday
                                    <!--/.time-from-->
                                <!--/.col-md-5-->
                                .col-md-7.col-sm-7.col-xs-7
                                    .event-info
                                        h2.event-title
                                            |softHopper Company’s session
                                        a.btn.btn-details(href="event-list.html")
                                            |view detail
                                    <!--/.event-info-->
                                <!--/.col-md-7-->
                            <!--/.row-->
                        <!--/.single-event-->

                        .single-event
                            .row
                                .col-md-5.col-sm-5.col-xs-5
                                    .time-from
                                        h3.date
                                            |<span>14</span> February
                                        h4.day
                                            |Tuesday
                                    <!--/.time-from-->
                                <!--/.col-md-5-->
                                .col-md-7.col-sm-7.col-xs-7
                                    .event-info
                                        h2.event-title
                                            |Pixelll Manager;s Session
                                        a.btn.btn-details(href="event-list.html")
                                            |view detail
                                    <!--/.event-info-->
                                <!--/.col-md-7-->
                            <!--/.row-->
                        <!--/.single-event-->

                        .single-event
                            .row
                                .col-md-5.col-sm-5.col-xs-5
                                    .time-from
                                        h3.date
                                            |<span>28</span> February
                                        h4.day
                                            |friday
                                    <!--/.time-from-->
                                <!--/.col-md-5-->
                                .col-md-7.col-sm-7.col-xs-7
                                    .event-info
                                        h2.event-title
                                            |Jahid’s Company Event
                                        a.btn.btn-details(href="event-list.html")
                                            |view detail
                                    <!--/.event-info-->
                                <!--/.col-md-7-->
                            <!--/.row-->
                        <!--/.single-event-->
                    <!--/.events-list-->
                <!--/.monthly-events-scdeule-->
            <!--/.col-md-6-->
        <!--/.row-->
    <!--/.container-->
<!--/.events-page-area-->