
.single-gallery-group
    .container
        .row
            .col-md-12
                .section-title-area.text-center
                    h2.section-title
                        |Our <br> Photo Gallery
                    p.section-title-dec
                        |Our Awesome Photos
                <!--/.section-title-area-->
            <!--/.col-md-12-->
        <!--/.row-->
        .row
            .col-md-12
                .single-gallery-content
                    .row
                        .col-md-12
                            ul.gallery-filter-menu
                                li.current-tab
                                    a(href="#" data-filter="*" class="filter")
                                        |Show All
                                li
                                    a(href="#" data-filter=".wedding" class="filter")
                                        |wedding
                                li
                                    a(href="#" data-filter=".concert" class="filter")
                                        |Concert
                                li
                                    a(href="#" data-filter=".fun" class="filter")
                                        |fun
                                li
                                    a(href="#" data-filter=".overview" class="filter")
                                        |overview
                            <!--/.gallery-filter-menu-->
                        <!--/.col-md-12-->
                    <!--/.row-->
                    .row.gallery-item-content
                        .col-md-3.grid.overview
                            .single-item
                                a.image-popup-btn(href="images/gallery/img-1.jpg")
                                    img(src="images/gallery/img-1.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item
                                a.image-popup-btn(href="images/gallery/img-2.jpg")
                                    img(src="images/gallery/img-2.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.concert
                            .single-item
                                a.image-popup-btn(href="images/gallery/img-3.jpg")
                                    img(src="images/gallery/img-3.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item
                                a.image-popup-btn(href="images/gallery/img-4.jpg")
                                    img(src="images/gallery/img-4.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.fun
                            .single-item
                                a.image-popup-btn(href="images/gallery/img-5.jpg")
                                    img(src="images/gallery/img-5.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item
                                a.image-popup-btn(href="images/gallery/img-6.jpg")
                                    img(src="images/gallery/img-6.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.fun
                            .single-item
                                a.image-popup-btn(href="images/gallery/img-7.jpg")
                                    img(src="images/gallery/img-7.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.concert
                            .single-item
                                a.image-popup-btn(href="images/gallery/img-8.jpg")
                                    img(src="images/gallery/img-8.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.fun
                            .single-item
                                a.image-popup-btn(href="images/gallery/img-9.jpg")
                                    img(src="images/gallery/img-9.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.overview
                            .single-item
                                a.image-popup-btn(href="images/gallery/img-10.jpg")
                                    img(src="images/gallery/img-10.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item
                                a.image-popup-btn(href="images/gallery/img-11.jpg")
                                    img(src="images/gallery/img-11.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.concert
                            .single-item
                                a.image-popup-btn(href="images/gallery/img-12.jpg")
                                    img(src="images/gallery/img-12.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                    <!--/.gallery-item-content-->
                <!--/.single-gallery-content-->
            <!--/.col-md-12-->
        <!--/.row-->
    <!--/.container-->
<!--/.single-gallery-group-->

.single-gallery-group
    .container
        .row
            .col-md-12
                .section-title-area.text-center
                    h2.section-title
                        |Our <br> Video Gallery
                    p.section-title-dec
                        |Our Awesome Videos
                <!--/.section-title-area-->
            <!--/.col-md-12-->
        <!--/.row-->
        .row
            .col-md-12
                .single-gallery-content
                    .row
                        .col-md-12
                            ul.gallery-filter-menu
                                li.current-tab
                                    a(href="#" data-filter="*" class="filter")
                                        |Show All
                                li
                                    a(href="#" data-filter=".wedding" class="filter")
                                        |wedding
                                li
                                    a(href="#" data-filter=".concert" class="filter")
                                        |Concert
                                li
                                    a(href="#" data-filter=".fun" class="filter")
                                        |fun
                                li
                                    a(href="#" data-filter=".overview" class="filter")
                                        |overview
                            <!--/.gallery-filter-menu-->
                        <!--/.col-md-12-->
                    <!--/.row-->
                    .row.gallery-item-content
                        .col-md-3.grid.overview
                            .single-item.format-video
                                a.video-popup-btn(href="https://www.youtube.com/watch?v=Ek5yiu7rmO8")
                                    img(src="images/gallery/img-1.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item.format-video
                                a.video-popup-btn(href="https://www.youtube.com/watch?v=Ek5yiu7rmO8")
                                    img(src="images/gallery/img-2.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.concert
                            .single-item.format-video
                                a.video-popup-btn(href="https://www.youtube.com/watch?v=Ek5yiu7rmO8")
                                    img(src="images/gallery/img-3.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item.format-video
                                a.video-popup-btn(href="https://www.youtube.com/watch?v=Ek5yiu7rmO8")
                                    img(src="images/gallery/img-4.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.fun
                            .single-item.format-video
                                a.video-popup-btn(href="https://www.youtube.com/watch?v=Ek5yiu7rmO8")
                                    img(src="images/gallery/img-5.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item.format-video
                                a.video-popup-btn(href="https://www.youtube.com/watch?v=Ek5yiu7rmO8")
                                    img(src="images/gallery/img-6.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.fun
                            .single-item.format-video
                                a.video-popup-btn(href="https://www.youtube.com/watch?v=Ek5yiu7rmO8")
                                    img(src="images/gallery/img-7.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.concert
                            .single-item.format-video
                                a.video-popup-btn(href="https://www.youtube.com/watch?v=Ek5yiu7rmO8")
                                    img(src="images/gallery/img-8.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.fun
                            .single-item.format-video
                                a.video-popup-btn(href="https://www.youtube.com/watch?v=Ek5yiu7rmO8")
                                    img(src="images/gallery/img-9.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.overview
                            .single-item.format-video
                                a.video-popup-btn(href="https://www.youtube.com/watch?v=Ek5yiu7rmO8")
                                    img(src="images/gallery/img-10.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.wedding
                            .single-item.format-video
                                a.video-popup-btn(href="https://www.youtube.com/watch?v=Ek5yiu7rmO8")
                                    img(src="images/gallery/img-11.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                        .col-md-3.grid.concert
                            .single-item.format-video
                                a.video-popup-btn(href="https://www.youtube.com/watch?v=Ek5yiu7rmO8")
                                    img(src="images/gallery/img-12.jpg" alt="img")
                            <!--/.single-item-->
                        <!--/.grid-->
                    <!--/.gallery-item-content-->
                <!--/.single-gallery-content-->
            <!--/.col-md-12-->
        <!--/.row-->
    <!--/.container-->
<!--/.single-gallery-group-->