.welcome-section.style-two
    .container-fluid
        .row
            .pogoSlider#js-main-slider
                .pogoSlider-slide(data-transition="shrinkReveal" data-duration="1000"  style="background-image:url(images/slide-bg1.jpg);")
                    .col-md-7.tb
                        .welcome-text.tb-cell
                            p.pogoSlider-slide-element(data-in="expand" data-out="fade" data-duration="750" data-delay="500")
                                |<span>Special Offer</span>
                            h4.title.pogoSlider-slide-element(data-in="flipX" data-out="slideDown" data-duration="750" data-delay="500")
                                | Good Service in our passion
                            h2.headline.pogoSlider-slide-element(data-in="rollLeft" data-out="rollRight" data-duration="750" data-delay="500")
                                |book your stay
                            .welcome-btn.pogoSlider-slide-element(data-in="slideUp" data-out="slideDown" data-duration="750" data-delay="500")
                                a.btn.btn-offer.active(href="#")
                                    |Special Offer
                                a.btn.btn-offer(href="#")
                                    |<span>45% Off</span> - 10Days
                            <!--/.welcome-btn -->
                        <!--/.welcome-text-->
                    <!--/.col-md-7-->
                .pogoSlider-slide(data-transition="shrinkReveal" data-duration="1000"  style="background-image:url(images/slide-bg2.jpg);")
                    .col-md-7.tb
                        .welcome-text.tb-cell
                            p.pogoSlider-slide-element(data-in="expand" data-out="fade" data-duration="750" data-delay="500")
                                |<span>Special Offer</span>
                            h4.title.pogoSlider-slide-element(data-in="flipX" data-out="slideDown" data-duration="750" data-delay="500")
                                |Good Service in our passion
                            h2.headline.pogoSlider-slide-element(data-in="slideDown" data-out="slideUp" data-duration="750" data-delay="500")
                                |Luxury Room
                            .welcome-btn.pogoSlider-slide-element(data-in="slideUp" data-out="slideDown" data-duration="750" data-delay="500")
                                a.btn.btn-offer.active(href="#")
                                    | Special Offer
                                a.btn.btn-offer(href="#")
                                    |<span>45% Off</span> - 10Days
                            <!--/.welcome-btn -->
                        <!--/.welcome-text-->
                    <!--/.col-md-7-->
                .pogoSlider-slide( data-transition="shrinkReveal" data-duration="1000"  style="background-image:url(images/slide-bg3.jpg);")
                    .col-md-7.tb
                        .welcome-text.tb-cell
                            p.pogoSlider-slide-element(data-in="expand" data-out="fade" data-duration="750" data-delay="500")
                                | <span>Special Offer</span>
                            h4.title.pogoSlider-slide-element(data-in="flipX" data-out="slideDown" data-duration="750" data-delay="500")
                                |Good Service in our passion
                            h2.headline.pogoSlider-slide-element(data-in="flipY" data-out="flipX" data-duration="750" data-delay="500")
                                |book your stay
                            .welcome-btn.pogoSlider-slide-element(data-in="slideUp" data-out="slideDown" data-duration="750" data-delay="500")
                                a.btn.btn-offer.active(href="#")
                                    |Special Offer
                                a.btn.btn-offer(href="#")
                                    |<span>45% Off</span> - 10Days
                            <!--/.welcome-btn -->
                        <!--/.welcome-text-->
                    <!--/.col-md-7-->
            <!-- .pogoSlider -->
        <!--/.row-->
    <!--/.container-fluid-->
<!--/.welcome-section-->