.page-heading-area
    .container
        .row
            .col-md-12.text-center
                h2.page-heading
                    block pagetitle
                <!--/.page-heading-->
            <!--/.col-md-12-->
        <!--/.row-->
    <!--/.container--> 
<!--/.page-heading-area-->
.page-nav-area
    .container
        .row
            .col-md-12
                ul.breadcrumb.page-nav.list-unstyled
                    li:<a href="index.html">Home</a>
                    li
                        block pagename                    
                <!--/.page-nav-->
            <!--/.col-md-12-->
        <!--/.row-->
    <!--/.container-->
<!--/.page-title-area-->