.page-heading-area
    .container
        .row
            .col-md-12.text-center
                h2.page-heading
                    block pagetitle
                <!--/.page-heading-->
            <!--/.col-md-12-->
        <!--/.row-->
    <!--/.container--> 
<!--/.page-heading-area-->