.client-review-area
    .container
        .row
            .col-md-12
                h2.page-title.text-center
                    |Average Rating
                    span.review-rating.rating
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                        i.fa.fa-star
                    | (4.9) 25 Reviews
                <!--/.page-title-->
            <!--/.col-md-12-->
        <!--/.row-->
        .row
            .col-md-8
                .client-review-main.mobile-extend
                    .row.masonry-layout
                        .col-md-6.grid
                            .single-client-review.box-radius
                                header.review-header
                                    .date
                                        |<strong>Dec 25, 2016</strong>
                                    .review-rating.rating.pull-right
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                    h2.review-title.text-center
                                        |“Awesome”
                                 <!--/.review-header-->
                                .review-content.text-center
                                    p
                                        |The resort is beautiful with an excellent spa. The spa rooms have a glass floor that looks down on the coral reef below. I saw many fish and moray eels as I was getting a massage. It was a wild and luxurious experience! The food and cocktails were excellent!
                                 <!--/.review-content-->
                                footer.review-footer
                                    .client-name
                                        strong
                                            |By Rakib smith
                                    .client-profession.pull-right
                                        |porgrammer
                                <!--/.review-footer-->
                            <!--/.single-client-review-->
                        <!--/.col-md-6-->
                        
                        .col-md-6.grid
                            .single-client-review.box-radius
                                header.review-header
                                    .date
                                        |<strong>Dec 25, 2016</strong>
                                    .review-rating.rating.pull-right
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                    h2.review-title.text-center
                                        |“Gorgeous!”
                                 <!--/.review-header-->
                                .review-content.text-center
                                    p
                                        |The spa rooms have a glass floor that looks down on the coral reef below. I saw many fish and moray eels as I was getting a massage. It was a wild and luxurious experience! The food and cocktails were excellent!
                                 <!--/.review-content-->
                                footer.review-footer
                                    .client-name
                                        strong
                                            |By Rakib smith
                                    .client-profession.pull-right
                                        |porgrammer
                                <!--/.review-footer-->
                            <!--/.single-client-review-->
                        <!--/.col-md-6-->
                        
                        .col-md-6.grid
                            .single-client-review.box-radius
                                header.review-header
                                    .date
                                        |<strong>Dec 25, 2016</strong>
                                    .review-rating.rating.pull-right
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                    h2.review-title.text-center
                                        |“Awesome”
                                 <!--/.review-header-->
                                .review-content.text-center
                                    p
                                        |The resort is beautiful with an excellent spa. The spa rooms have a glass floor that looks down on the coral reef below. I saw many fish and moray eels as I was getting a massage. It was a wild and luxurious experience! The food and cocktails were excellent!
                                 <!--/.review-content-->
                                footer.review-footer
                                    .client-name
                                        strong
                                            |By Rakib smith
                                    .client-profession.pull-right
                                        |porgrammer
                                <!--/.review-footer-->
                            <!--/.single-client-review-->
                        <!--/.col-md-6-->
                        
                        .col-md-6.grid
                            .single-client-review.box-radius
                                header.review-header
                                    .date
                                        |<strong>Dec 25, 2016</strong>
                                    .review-rating.rating.pull-right
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                    h2.review-title.text-center
                                        |“Gorgeous!”
                                 <!--/.review-header-->
                                .review-content.text-center
                                    p
                                        |The resort is beautiful with an excellent spa. The spa rooms have a glass floor that looks down on the coral reef below. The food and cocktails were excellent!
                                 <!--/.review-content-->
                                footer.review-footer
                                    .client-name
                                        strong
                                            |By Rakib smith
                                    .client-profession.pull-right
                                        |porgrammer
                                <!--/.review-footer-->
                            <!--/.single-client-review-->
                        <!--/.col-md-6-->                        
                        
                        .col-md-6.grid
                            .single-client-review.box-radius
                                header.review-header
                                    .date
                                        |<strong>Dec 25, 2016</strong>
                                    .review-rating.rating.pull-right
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                    h2.review-title.text-center
                                        |“Awesome”
                                 <!--/.review-header-->
                                .review-content.text-center
                                    p
                                        |My wife and I loved everything about it. We did a lot of research and choose to stay here. Staff was nice and very very helpful and also service was great.!
                                 <!--/.review-content-->
                                footer.review-footer
                                    .client-name
                                        strong
                                            |By Rakib smith
                                    .client-profession.pull-right
                                        |porgrammer
                                <!--/.review-footer-->
                            <!--/.single-client-review-->
                        <!--/.col-md-6-->
                        
                        .col-md-6.grid
                            .single-client-review.box-radius
                                header.review-header
                                    .date
                                        |<strong>Dec 25, 2016</strong>
                                    .review-rating.rating.pull-right
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                        i.fa.fa-star
                                    h2.review-title.text-center
                                        |“Gorgeous!”
                                 <!--/.review-header-->
                                .review-content.text-center
                                    p
                                        |The resort is beautiful with an excellent spa. The spa rooms have a glass floor that looks down on the coral reef below. I saw many fish and moray eels as I was getting a massage. It was a wild and luxurious experience! The food and cocktails were excellent!
                                 <!--/.review-content-->
                                footer.review-footer
                                    .client-name
                                        strong
                                            |By Rakib smith
                                    .client-profession.pull-right
                                        |porgrammer
                                <!--/.review-footer-->
                            <!--/.single-client-review-->
                        <!--/.col-md-6-->
                    <!--/.row-->   
                <!--/.client-review-main--> 
                .hidden-md.hidden-lg.text-center.extend-btn
                    span.extend-icon
                        i.fa.fa-angle-down   
            <!--/.col-md-8-->
            .col-md-4
                .sidebar-right.review-sidebar
                    block reviewsidebar                    
                <!--/.review-sidebar-->   
            <!--/.col-md-4-->   
        <!--/.row-->   
    <!--/.container-->   
<!--/.client-review-area-->   