.room-grid-area
    .container
        .row
            .col-md-4.col-sm-6.col-xs-6
                .single-room.grid
                    img.room-thumb(src="images/rooms/img-1.jpg" alt="room")
                    .room-info.box-radius
                        h5
                            |Starting from $50 / Night 
                        h3.room-title
                            a(href="room-single-page.html")
                                |Room With ExtraFields
                        h4.room-structure
                            |02 King Bed / Max 4 Peoples  
                        .room-services                            
                            i.fa.fa-eye
                            i.fa.fa-television
                            i.fa.fa-microphone-slash
                            i.fa.fa-coffee
                            i.fa.fa-cutlery
                            i.fa.fa-wifi
                        a.btn.btn-details(href="room-single-page.html")
                            |more details
                <!--/.single-room-->
            <!--/.col-md-4-->
            .col-md-4.col-sm-6.col-xs-6
                .single-room.grid
                    img.room-thumb(src="images/rooms/img-2.jpg" alt="room")
                    .room-info.box-radius
                        h5
                            |Starting from $50 / Night 
                        a.room-title(href="room-single-page.html")
                        h3.room-title
                            a(href="#")
                                |Room With ExtraFields
                        h4.room-structure
                            |02 King Bed / Max 4 Peoples  
                        .room-services                            
                            i.fa.fa-eye
                            i.fa.fa-television
                            i.fa.fa-microphone-slash
                            i.fa.fa-coffee
                            i.fa.fa-cutlery
                            i.fa.fa-wifi
                        a.btn.btn-details(href="room-single-page.html")
                            |more details
                <!--/.single-room-->
            <!--/.col-md-4-->
            .col-md-4.col-sm-6.col-xs-6
                .single-room.grid
                    img.room-thumb(src="images/rooms/img-3.jpg" alt="room")
                    .room-info.box-radius
                        h5
                            |Starting from $50 / Night 
                        h3.room-title
                            a(href="room-single-page.html")
                                |Room With ExtraFields
                        h4.room-structure
                            |02 King Bed / Max 4 Peoples  
                        .room-services                            
                            i.fa.fa-eye
                            i.fa.fa-television
                            i.fa.fa-microphone-slash
                            i.fa.fa-coffee
                            i.fa.fa-cutlery
                            i.fa.fa-wifi
                        a.btn.btn-details(href="room-single-page.html")
                            |more details
                <!--/.single-room-->
            <!--/.col-md-4-->
            
            .clearfix.hidden-xs
            
            .col-md-4.col-sm-6.col-xs-6
                .single-room.grid
                    img.room-thumb(src="images/rooms/img-4.jpg" alt="room")
                    .room-info.box-radius
                        h5
                            |Starting from $50 / Night 
                        h3.room-title
                            a(href="room-single-page.html")
                                |Room With ExtraFields
                        h4.room-structure
                            |02 King Bed / Max 4 Peoples  
                        .room-services                            
                            i.fa.fa-eye
                            i.fa.fa-television
                            i.fa.fa-microphone-slash
                            i.fa.fa-coffee
                            i.fa.fa-cutlery
                            i.fa.fa-wifi
                        a.btn.btn-details(href="room-single-page.html")
                            |more details
                <!--/.single-room-->
            <!--/.col-md-4-->
            .col-md-4.col-sm-6.col-xs-6
                .single-room.grid
                    img.room-thumb(src="images/rooms/img-5.jpg" alt="room")
                    .room-info.box-radius
                        h5
                            |Starting from $50 / Night 
                        h3.room-title
                            a(href="room-single-page.html")
                                |Room With ExtraFields
                        h4.room-structure
                            |02 King Bed / Max 4 Peoples  
                        .room-services                            
                            i.fa.fa-eye
                            i.fa.fa-television
                            i.fa.fa-microphone-slash
                            i.fa.fa-coffee
                            i.fa.fa-cutlery
                            i.fa.fa-wifi
                        a.btn.btn-details(href="room-single-page.html")
                            |more details
                <!--/.single-room-->
            <!--/.col-md-4-->
            .col-md-4.col-sm-6.col-xs-6
                .single-room.grid
                    img.room-thumb(src="images/rooms/img-6.jpg" alt="room")
                    .room-info.box-radius
                        h5
                            |Starting from $50 / Night 
                        h3.room-title
                            a(href="room-single-page.html")
                                |Room With ExtraFields
                        h4.room-structure
                            |02 King Bed / Max 4 Peoples  
                        .room-services                            
                            i.fa.fa-eye
                            i.fa.fa-television
                            i.fa.fa-microphone-slash
                            i.fa.fa-coffee
                            i.fa.fa-cutlery
                            i.fa.fa-wifi
                        a.btn.btn-details(href="room-single-page.html")
                            |more details
                <!--/.single-room-->
            <!--/.col-md-4-->
            
            .clearfix.hidden-xs
            
            .col-md-4.col-sm-6.col-xs-6
                .single-room.grid
                    img.room-thumb(src="images/rooms/img-5.jpg" alt="room")
                    .room-info.box-radius
                        h5
                            |Starting from $50 / Night 
                        h3.room-title
                            a(href="room-single-page.html")
                                |Room With ExtraFields
                        h4.room-structure
                            |02 King Bed / Max 4 Peoples  
                        .room-services                            
                            i.fa.fa-eye
                            i.fa.fa-television
                            i.fa.fa-microphone-slash
                            i.fa.fa-coffee
                            i.fa.fa-cutlery
                            i.fa.fa-wifi
                        a.btn.btn-details(href="room-single-page.html")
                            |more details
                <!--/.single-room-->
            <!--/.col-md-4-->
            .col-md-4.col-sm-6.col-xs-6
                .single-room.grid
                    img.room-thumb(src="images/rooms/img-2.jpg" alt="room")
                    .room-info.box-radius
                        h5
                            |Starting from $50 / Night 
                        h3.room-title
                            a(href="room-single-page.html")
                                |Room With ExtraFields
                        h4.room-structure
                            |02 King Bed / Max 4 Peoples  
                        .room-services                            
                            i.fa.fa-eye
                            i.fa.fa-television
                            i.fa.fa-microphone-slash
                            i.fa.fa-coffee
                            i.fa.fa-cutlery
                            i.fa.fa-wifi
                        a.btn.btn-details(href="room-single-page.html")
                            |more details
                <!--/.single-room-->
            <!--/.col-md-4-->
            .col-md-4.col-sm-6.col-xs-6
                .single-room.grid
                    img.room-thumb(src="images/rooms/img-4.jpg" alt="room")
                    .room-info.box-radius
                        h5
                            |Starting from $50 / Night 
                        h3.room-title
                            a(href="room-single-page.html")
                                |Room With ExtraFields
                        h4.room-structure
                            |02 King Bed / Max 4 Peoples  
                        .room-services                            
                            i.fa.fa-eye
                            i.fa.fa-television
                            i.fa.fa-microphone-slash
                            i.fa.fa-coffee
                            i.fa.fa-cutlery
                            i.fa.fa-wifi
                        a.btn.btn-details(href="room-single-page.html")
                            |more details
                <!--/.single-room-->
            <!--/.col-md-4-->
        <!--/.row-->
        
        .row
            .col-md-12
                //Paginations
                nav.paginations
                    .post-pagination.paging-navigation
                        ul.nav-links
                            li.nav-previous
                                //disabled add when no pagination
                                a(href="#") <i class="fa fa-angle-left"></i>
                            li: a(href="#") 01
                            li.active: a(href="#") 02
                            li: a(href="#") 03
                            li: a(href="#") 04
                            li: a(href="#") ...
                            li: a(href="#") 102
                            li.nav-next
                                a(href="#") <i class="fa fa-angle-right"></i>
                    <!--/.post-pagination-->
                <!--/.pagination-->
            <!--/.col-md-12-->
        <!--/.row-->
    <!--/.container-->
<!--/.room-grid-area-->