.room-list-area
    .container
        //Single Room
        .single-room.list
            .row
                .col-md-5.padding-right
                    figure.room-thumb
                        img.box-radius(src="images/rooms/list/room-1.jpg" alt="img")
                    a.btn.btn-details(href="room-single-page.html")
                        |View Details Information And Book
                        i.fa.fa-arrow-right
                <!--/.col-md-5-->
                .col-md-7
                    .room-info
                        h3.room-title
                            a(href="room-single-page.html")
                                |Room With ExtraFields
                        h5
                            |Starting from $50 / Night
                        h4.room-structure
                            |2 King Bed / Max 6 people included / 1 Full Sofa set.
                        ul.room-services.list-unstyled
                            li
                                i.fa.fa-home
                                |Room Size 350 FT<sup>2</sup>
                            li
                                i.fa.fa-laptop
                                |computer
                            li
                                i.fa.fa-eye
                                |Awesome View
                            li
                                i.fa.fa-wifi
                                |WIFI
                            li
                                i.fa.fa-television
                                |Flat Screen TV
                            li
                                i.fa.fa-microphone-slash
                                |Air Condition
                            li
                                i.fa.fa-eye
                                |Soundproof
                            li
                                i.fa.fa-coffee
                                |Breakfast Included
                            li
                                i.fa.fa-microphone-slash
                                |Room Service
                            li
                                i.fa.fa-plane
                                |Airport Pickup
                    <!--/.room-info-->
                <!--/.col-md-7-->
            <!--/.row-->
        <!--/.single-room-->
        
        //Single Room
        .single-room.list
            .row
                .col-md-5.padding-right
                    figure.room-thumb
                        img.box-radius(src="images/rooms/list/room-2.jpg" alt="img")
                    a.btn.btn-details(href="room-single-page.html")
                        |View Details Information And Book
                        i.fa.fa-arrow-right
                <!--/.col-md-5-->
                .col-md-7
                    .room-info
                        h3.room-title
                            a(href="room-single-page.html")
                                |Room With ExtraFields
                        h5
                            |Starting from $50 / Night
                        h4.room-structure
                            |2 King Bed / Max 6 people included / 1 Full Sofa set.
                        ul.room-services.list-unstyled
                            li
                                i.fa.fa-home
                                |Room Size 350 FT<sup>2</sup>
                            li
                                i.fa.fa-laptop
                                |computer
                            li
                                i.fa.fa-eye
                                |Awesome View
                            li
                                i.fa.fa-wifi
                                |WIFI
                            li
                                i.fa.fa-television
                                |Flat Screen TV
                            li
                                i.fa.fa-microphone-slash
                                |Air Condition
                            li
                                i.fa.fa-eye
                                |Soundproof
                            li
                                i.fa.fa-coffee
                                |Breakfast Included
                            li
                                i.fa.fa-microphone-slash
                                |Room Service
                            li
                                i.fa.fa-plane
                                |Airport Pickup
                    <!--/.room-info-->
                <!--/.col-md-7-->
            <!--/.row-->
        <!--/.single-room-->
        
        //Single Room
        .single-room.list
            .row
                .col-md-5.padding-right
                    figure.room-thumb
                        img.box-radius(src="images/rooms/list/room-3.jpg" alt="img")
                    a.btn.btn-details(href="room-single-page.html")
                        |View Details Information And Book
                        i.fa.fa-arrow-right
                <!--/.col-md-5-->
                .col-md-7
                    .room-info
                        h3.room-title
                            a(href="room-single-page.html")
                                |Room With ExtraFields
                        h5
                            |Starting from $50 / Night
                        h4.room-structure
                            |2 King Bed / Max 6 people included / 1 Full Sofa set.
                        ul.room-services.list-unstyled
                            li
                                i.fa.fa-home
                                |Room Size 350 FT<sup>2</sup>
                            li
                                i.fa.fa-laptop
                                |computer
                            li
                                i.fa.fa-eye
                                |Awesome View
                            li
                                i.fa.fa-wifi
                                |WIFI
                            li
                                i.fa.fa-television
                                |Flat Screen TV
                            li
                                i.fa.fa-microphone-slash
                                |Air Condition
                            li
                                i.fa.fa-eye
                                |Soundproof
                            li
                                i.fa.fa-coffee
                                |Breakfast Included
                            li
                                i.fa.fa-microphone-slash
                                |Room Service
                            li
                                i.fa.fa-plane
                                |Airport Pickup
                    <!--/.room-info-->
                <!--/.col-md-7-->
            <!--/.row-->
        <!--/.single-room-->
        
        //Single Room
        .single-room.list
            .row
                .col-md-5.padding-right
                    figure.room-thumb
                        img.box-radius(src="images/rooms/list/room-1.jpg" alt="img")
                    a.btn.btn-details(href="room-single-page.html")
                        |View Details Information And Book
                        i.fa.fa-arrow-right
                <!--/.col-md-5-->
                .col-md-7
                    .room-info
                        h3.room-title
                            a(href="room-single-page.html")
                                |Room With ExtraFields
                        h5
                            |Starting from $50 / Night
                        h4.room-structure
                            |2 King Bed / Max 6 people included / 1 Full Sofa set.
                        ul.room-services.list-unstyled
                            li
                                i.fa.fa-home
                                |Room Size 350 FT<sup>2</sup>
                            li
                                i.fa.fa-laptop
                                |computer
                            li
                                i.fa.fa-eye
                                |Awesome View
                            li
                                i.fa.fa-wifi
                                |WIFI
                            li
                                i.fa.fa-television
                                |Flat Screen TV
                            li
                                i.fa.fa-microphone-slash
                                |Air Condition
                            li
                                i.fa.fa-eye
                                |Soundproof
                            li
                                i.fa.fa-coffee
                                |Breakfast Included
                            li
                                i.fa.fa-microphone-slash
                                |Room Service
                            li
                                i.fa.fa-plane
                                |Airport Pickup
                    <!--/.room-info-->
                <!--/.col-md-7-->
            <!--/.row-->
        <!--/.single-room-->
        .row
            .col-md-12
                //Paginations
                nav.paginations
                    .post-pagination.paging-navigation
                        ul.nav-links
                            li.nav-previous
                                //disabled add when no pagination
                                a(href="#") <i class="fa fa-angle-left"></i>
                            li: a(href="#") 01
                            li.active: a(href="#") 02
                            li: a(href="#") 03
                            li: a(href="#") 04
                            li: a(href="#") ...
                            li: a(href="#") 102
                            li.nav-next
                                a(href="#") <i class="fa fa-angle-right"></i>
                    <!--/.post-pagination-->
                <!--/.pagination-->
            <!--/.col-md-12-->
        <!--/.row-->
    <!--/.container-->
<!--/.room-list-area-->