.page-gallery-area
    .page-gallery-carousel.owl-carousel
        .item
            img(src="images/gallery/spa/img-1.jpg" alt="img")
        <!--/.item-->
        .item
            img(src="images/gallery/spa/img-2.jpg" alt="img")
        <!--/.item-->
        .item
            img(src="images/gallery/spa/img-3.jpg" alt="img")
        <!--/.item-->
        .item
            img(src="images/gallery/spa/img-4.jpg" alt="img")
        <!--/.item-->
        .item
            img(src="images/gallery/spa/img-3.jpg" alt="img")
        <!--/.item-->
    <!--/.page-gallery-carousel-->
<!--/.page-gallery-area-->

.spa-page-area
    .container
        .row
            .col-md-8.col-full-width
                .section-title-area.text-center
                    h2.section-title
                        |Wellness &amp; SPA
                    p.section-title-dec
                        |The Morrison Hotel offers guests a deeply personalised spa experience over 15,000 square feet of the ultimate in luxury and tranquility.
                <!--/.section-title-area-->
            <!--/.col-md-6-->
        <!--/.row-->
        .row
            .col-md-5
                .section-align-title-area.text-right
                    .section-align-title-area
                        h2.section-align-title
                            |We provide <br> Also wellness and spa for <br>Your better relax
                        p.section-title-dec
                            | When a unknown printer took galley type scrambled make an specimen book. It has survived not only five centuries, but also leap into electronic typesetting remaining essentilly unchanged. It was popularised the with the releaseof Letraset sheets containingLorem Ipsum passage and more recently with desktopWhen a unknown printer took galley type scrambled make an specimen book. It has survived not only five centuries, but also leap into electronic typesetting.
                <!--/.section-align-title-area-->
            <!--/.col-md-5-->
            .col-md-7
                .section-gallery-group
                    .row
                        .col-sm-6.col-sm-6.col-xs-6                    
                            figure.item
                                img(src="images/spa-1.jpg" alt="img")
                        .col-sm-6.col-sm-6.col-xs-6
                            figure.item
                                img(src="images/spa-2.jpg" alt="img")
                        .clearfix
                <!--/.section-gallery-group-->
            <!--/.col-md-7-->
        <!--/.row-->
    <!--/.container-->
<!--/.page-gallery-area-->


.spa-pricing-area
    .container
        .row
            .col-md-12
                .section-title-area.text-center
                    h2.section-title
                        |We Have Different Pricing for Your Needs
                <!--/.section-title-area-->
            <!--/.col-md-12-->
        <!--/.row-->
        
        .row
            .col-md-4.col-sm-6.col-xs-6
                .single-spa-pricing
                    h2.title
                        |Standard Spa
                    p
                        |The definitive path to a blissful night’s sleep, this restful retreat will relax and reset your mind and body, lulling you peacefully into a serene slumber.
                    .price
                        |$99
                <!--/.single-spa-pricing-->
            <!--/.col-md-4-->
            .col-md-4.col-sm-6.col-xs-6
                .single-spa-pricing
                    h2.title
                        |Premium Spa
                    p
                        |The definitive path to a blissful night’s sleep, this restful retreat will relax and reset your mind and body, lulling you peacefully into a serene slumber.
                    .price
                        |$199
                <!--/.single-spa-pricing-->
            <!--/.col-md-4-->

            .clearfix.hidden-md.hidden-lg 

            .col-md-4.col-sm-6.col-xs-6
                .single-spa-pricing
                    h2.title
                        |Ultimate Spa
                    p
                        |The definitive path to a blissful night’s sleep, this restful retreat will relax and reset your mind and body, lulling you peacefully into a serene slumber.
                    .price
                        |$299
                <!--/.single-spa-pricing-->
            <!--/.col-md-4-->
            
            .clearfix.hidden-xs.hidden-sm
            
            .col-md-4.col-sm-6.col-xs-6
                .single-spa-pricing
                    h2.title
                        |Sleep Ceremony
                    p
                        |The definitive path to a blissful night’s sleep, this restful retreat will relax and reset your mind and body, lulling you peacefully into a serene slumber.
                    .price
                        |$60
                <!--/.single-spa-pricing-->
            <!--/.col-md-4-->

            .clearfix.hidden-md.hidden-lg

            .col-md-4.col-sm-6.col-xs-6
                .single-spa-pricing
                    h2.title
                        |De-Stress Retreat
                    p
                        |The ideal retreat to combat stress and restore the body back to balance.
                    .price
                        |$80
                <!--/.single-spa-pricing-->
            <!--/.col-md-4-->
            .col-md-4.col-sm-6.col-xs-6
                .single-spa-pricing
                    h2.title
                        |Swedish Massage
                    p
                        |The definitive path to a blissful night’s sleep, this restful retreat will relax and reset your mind and body, lulling you peacefully into a serene slumber.
                    .price
                        |$299
                <!--/.single-spa-pricing-->
            <!--/.col-md-4-->
        <!--/.row-->
    <!--/.container-->
<!--/.spa-pricing-area-->