.page-gallery-area
    .page-gallery-carousel.owl-carousel
        .item
            img(src="images/gallery/wedding/img-1.jpg" alt="img")
        <!--/.item-->
        .item
            img(src="images/gallery/wedding/img-2.jpg" alt="img")
        <!--/.item-->
        .item
            img(src="images/gallery/wedding/img-3.jpg" alt="img")
        <!--/.item-->
        .item
            img(src="images/gallery/wedding/img-4.jpg" alt="img")
        <!--/.item-->
        .item
            img(src="images/gallery/wedding/img-3.jpg" alt="img")
        <!--/.item-->
    <!--/.page-gallery-carousel-->
<!--/.page-gallery-area-->

.wedding-page-area
    .container
        .row
            .col-md-6.col-full-width
                .section-title-area.text-center
                    h2.section-title
                        |To Celebrate Weddings
                    p.section-title-dec
                        |How we can help
                <!--/.section-title-area-->
            <!--/.col-md-6-->
        <!--/.row-->
        .row
            .col-md-5
                .section-align-title-area.text-right
                    p.section-align-title-dec
                        |All your romantic mood and imagination is devoted to the details of this ideal wedding, the wedding gown, the venue of the ceremony and the reception.
                <!--/.section-align-title-area-->
            <!--/.col-md-5-->
            .col-md-7
                .section-gallery-group
                    .col-sm-6.col-xs-6                    
                        figure.item
                            img(src="images/wedding-1.jpg" alt="img")
                    .col-sm-6.col-xs-6
                        figure.item
                            img(src="images/wedding-2.jpg" alt="img")
                    .clearfix
                <!--/.section-gallery-group-->
            <!--/.col-md-7-->
        <!--/.row-->
    <!--/.container-->
<!--/.wedding-gallery-area-->


.wedding-plan-area
    .container
        .row
            .col-md-12
                .section-title-area.text-center
                    h2.section-title
                        |wedding plans
                <!--/.section-title-area-->
            <!--/.col-md-12-->
        <!--/.row-->
        
        .row
            .col-md-4.col-sm-6.col-xs-6
                .single-wedding-place
                    figure.thumb
                        img(src="images/place/wedding/img-1.jpg" alt="thumb")
                    .single-wedding-info
                        h2.title
                            |Wedding on the beach
                        p
                            |From #2,000
                    <!--/.single-wedding-info-->
                <!--/.single-wedding-place-->
            <!--/.col-md-4-->
            .col-md-4.col-sm-6.col-xs-6
                .single-wedding-place
                    figure.thumb
                        img(src="images/place/wedding/img-2.jpg" alt="thumb")
                    .single-wedding-info
                        h2.title
                            |Wedding on the beach
                        p
                            |From #2,000
                    <!--/.single-wedding-info-->
                <!--/.single-wedding-place-->
            <!--/.col-md-4-->

            .clearfix.hidden-md.hidden-lg 

            .col-md-4.col-sm-6.col-xs-6
                .single-wedding-place
                    figure.thumb
                        img(src="images/place/wedding/img-3.jpg" alt="thumb")
                    .single-wedding-info
                        h2.title
                            |Wedding on the beach
                        p
                            |From #2,000
                    <!--/.single-wedding-info-->
                <!--/.single-wedding-place-->
            <!--/.col-md-4-->
            
            .clearfix.hidden-xs.hidden-sm
            
            .col-md-4.col-sm-6.col-xs-6
                .single-wedding-place
                    figure.thumb
                        img(src="images/place/wedding/img-4.jpg" alt="thumb")
                    .single-wedding-info
                        h2.title
                            |Wedding on the beach
                        p
                            |From #2,000
                    <!--/.single-wedding-info-->
                <!--/.single-wedding-place-->
            <!--/.col-md-4-->

            .clearfix.hidden-md.hidden-lg 
            
            .col-md-4.col-sm-6.col-xs-6
                .single-wedding-place
                    figure.thumb
                        img(src="images/place/wedding/img-5.jpg" alt="thumb")
                    .single-wedding-info
                        h2.title
                            |Wedding on the beach
                        p
                            |From #2,000
                    <!--/.single-wedding-info-->
                <!--/.single-wedding-place-->
            <!--/.col-md-4-->
            .col-md-4.col-sm-6.col-xs-6
                .single-wedding-place
                    figure.thumb
                        img(src="images/place/wedding/img-6.jpg" alt="thumb")
                    .single-wedding-info
                        h2.title
                            |Wedding on the beach
                        p
                            |From #2,000
                    <!--/.single-wedding-info-->
                <!--/.single-wedding-place-->
            <!--/.col-md-4-->
        <!--/.row-->
    <!--/.container-->
<!--/.wedding-plan-area-->